.EatFoot{
  background-color:#fff;
  .EatIcon{
    padding:0 10px 10px 10px;
    vertical-align:middle;
    display:flex;
    background-color:#F5F5F9;
    .EatIcon-left{
      flex:1;
      line-height:30px;
      span{
        vertical-align:middle;
      }
    }
    .EatIcon-right{
      flex:1;
      color:#E76340;
      font-size:14px;
      text-align:right;
      line-height:30px;
      span{
        vertical-align:middle;
      }
      svg{
        width:20px;
        height:20px;
      }
    }
    svg{
      fill:#E76340;
      width:25px;
      height:25px;
      vertical-align:middle;
    }
  }
  .goodsList{
    margin:0;
    padding:5px;
    display:flex;
    flex-direction:column;
    li{
      list-style:none;
      margin-bottom:5px;
      flex:1;
      display:flex;
      .EatImg{
        img{
          display:inline-block;
          width:100px;
          height:100%;
        }
      }
      .EatInfo{
        flex:1;
        padding:0 15px 10px 10px;
        .date-eye{
          display:flex;
          div:first-child{
            flex:1;
            i{
              vertical-align:middle;
              svg{
                fill:#ccc;
              }
            }
            span{
              color:#ccc;
            }
          }
          div:last-child{
            flex:1;
            i{
              vertical-align:middle;
              svg{
                fill:#ccc;
              }
            }
            span{
              color:#ccc;
            }
          }
        }
      }
    }
  }
}