.footer{
  height:220px;
  padding:40px 10px 10px 10px;
  background-color:#4E3C2D;
  color:#fff;
  font-size:12px;
  text-align:center;
  p{
    padding-bottom:5px!important;
    line-height:20px;
  }
  a{
    color:#fff;
  }
}