.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.am-drawer{
  height:100%
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}
.am-drawer-open.am-drawer.am-drawer-left .am-drawer-sidebar{
  width:85%;
}
.am-drawer-overlay{
  background-color: rgba(0, 0, 0, 0.8)!important;
}
.am-navbar-left, .am-navbar-title, .am-navbar-right{
  // flex:0 0!important;
    .city{
      display:inline-block;
      color:#000;
      margin:0;
      position:fixed;
      top:12px;
      left:71px;
      svg{
        display:inline-block;
        vertical-align:middle;
        width:32px;
        height:20px;
      }
    }
}
.am-navbar-left-icon svg{
  fill:#333;
  width:38px;
  height:38px;
}
.head{
  height:100px;
  width:100%;
  position:fixed;
  left:0;
  top:0;
  background-color: #FFCB05;
  z-index:1;
  :after{
    display:block;
    content:'';
    height:0;
    clear:both;
    visibility:hidden;
  }
}
.drawerTop{
  background:url('../img/drawerTop.png') repeat 0 0;
  width:100%;
  height:180px;
  text-align:center;
  padding-top:60px;
  border:0 none;
  p{
    margin:0;
    padding:20px;
    color:#fff;
    font-size:22px;
  }
  .am-button-primary{
    width:50%;
    margin-left:25%;
  }
}
.am-navbar{
  background-color: #FFCB05!important;
}
.btnSearch{
  padding:0 10px;
  vertical-align:middle;
  display:flex;
  z-index:1;
  input{
    height:35px;
    width:80%;
    margin-right:10px;
    padding:0 0 0 10px;
    flex:1;
    border:0 none;
  }
  .search{
    height:35px;
    padding:10px 5px;
    width:80px;
    background-color: #FFCB05;
    border:1px solid #999;
    // z-index:1;
  }
}
.am-list-item .am-list-line .am-list-content{
  border-bottom:1px solid #ccc;
}
.btnClose{
  position:fixed;
  right:0;
  top:0;
  width:56px;
  height:50px;
  background-color:#FFCB05;
  border:0 none;
  z-index:99999;
  svg{
    width:25px;
    height:25px;
    fill:#fff;
  }
}

