.main{
  height:100%;
  overflow-y:auto;
  margin-top:100px;
  .goodslist{
    margin:0;
    padding:10px 0 20px 0;
    list-style:none;
    width:100%;
    text-align:center;
    background-color:#fff;
    li{
      display:inline-block;
      width:25%;
      text-align:center;
      margin-bottom:15px;
      img{
        display:block;
        width:100%;
        margin:0 auto;
      }
    }
  }
  .areatext{
    .areatextTitle{
      padding:10px;
      vertical-align:middle;
      i{
        display:inline-block;
        width:33px;
        height:28px;
        margin-right:5px;
        background:url('../img/splite/splite.png') no-repeat 0 0;
        background-position:0 -194px;
        color:#f60;
        vertical-align:bottom;
        transform: scale(0.8)
      }
    }
    ul{
      margin:0;
      padding:0;
      white-space:nowrap;
      overflow-x:auto;
      overflow-y:hidden;
      .listItem{
        display:inline-block;
        width:100px;
        margin-right:10px;
        position:relative;
        img{
          width:100%;
          z-index:9999;
        }
        span{
          font-weight:bold;
          color:#fff;
          font-size:16px;
          position:absolute;
          left:50%;
          top:50%;
          transform:translate(-50%,-50%);
        }
      }
      li:first-child{
        margin-left:5px;
      }
      li:last-child{
        margin-right:5px;
      }
    }
  }
  .foodMarket{
    margin-bottom:15px;
    .food{
      padding:10px;
      vertical-align:middle;
      i{
        display:inline-block;
        width:33px;
        height:28px;
        margin-right:5px;
        background:url('../img/splite/splite.png') no-repeat 0 0;
        background-position:0 -260px;
        color:#f60;
        vertical-align:bottom;
        transform: scale(0.8)
      }
    }
    ul{
      margin:0;
      padding:0;
      white-space:nowrap;
      overflow-x:auto;
      overflow-y:hidden;
      li{
        display:inline-block;
        width:100px;
        margin-right:10px;
        position:relative;
        img{
          width:100%;
          z-index:9999;
        }
        span{
          font-weight:bold;
          color:#fff;
          font-size:16px;
          position:absolute;
          left:50%;
          top:50%;
          transform:translate(-50%,-50%);
        }
      }
      li:first-child{
        margin-left:5px;
      }
      li:last-child{
        margin-right:5px;
      }
    }
  }
}